@use 'scss/mixins/reset';
@use 'scss/mixins/animations';
@use 'scss/mixins/typography';
@use 'scss/varibles/color';
@use 'scss/varibles/fonts';
@use 'bootstrap/scss/bootstrap';

.title {
  @include reset.reset-text;
  @include typography.typography-h2;

  font-family: fonts.$font-family-main;
  color: color.$color-text-main;

  @include bootstrap.media-breakpoint-down(md) {
    text-align: center;
  }
}

.container {
  max-width: 100%;
  overflow-x: auto;
}

.table {
  border-collapse: collapse;

  th {
    background-color: color.$color-background-content;
    font-weight: bold;

    &.table__cell_active {
      background-color: color.$color-background-active;
    }
  }

  &__cell {
    @include typography.typography-button;

    border: 1px solid color.$color-text-main;
    font-family: fonts.$font-family-main;
    color: color.$color-text-main;

    &_vertical {
      width: 1%;
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }

    &_data {
      min-width: 100px;
    }
  }

  th,
  td {
    padding: calc(var(--bs-gutter-x) * 0.25) calc(var(--bs-gutter-x) * 0.2);
    text-align: center;
  }
}
