$color-background-main: #1b1b1e;
$color-background-content: #202124;
$color-background-accent: #2d2d2d;
$color-background-active: #4e5055;
$color-text-main: #d6d6d6;
$color-text-disable: #919191;
$color-border-active: #FFF;